<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
  <div class="row">
    <div id='map'></div>

    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>

    <script>
      function initMap(){
        var map = new google.maps.Map(document.getElementById('map'),{
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyD-7zL_CaXpkuuOQbwKrNY8GeZkE3JZb2k&callback=initMap" async defer></script>
  </div>
</div>