<!DOCTYPE)
<html>
  <head>
    <meta content='text/html; charset=UTF8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、bookers2へようこそ!</h1>
    <p>bookers2への新規登録が成功しました。
    本サイトにご登録いただきありがとうございます><br />
    </p>
  </body>
</html>